#requests {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
  
#requests td, #requests th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#requests tr:nth-child(even){background-color: #f2f2f2;}
  
#requests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(63,81,181);
    color: white;
}
.button {
    background-color: rgb(63,81,181);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    height: 30px;
    width: 200px;
  }
  .button:hover {
    cursor: pointer;
    background-color: #045672;
    color: white;
  }

  /* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.myBox {
border: none;
padding: 5px;
//font: 24px/36px sans-serif;
width: 65%;
height: 500%;
overflow: auto;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 5px;
height: 5px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 2px rgb(63, 81, 181);
border-radius: 2px;
}

::-webkit-scrollbar-thumb {
border-radius: 2px;
background: rgb(63, 81, 181); 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
background: rgb(63, 81, 181);
}