<div>
    <mat-toolbar color="primary">
        <span>
            <mat-icon>all_inclusive</mat-icon>
            <a class="a" routerLink=""> Dislinkt</a>
            <a  class="itemSpacer" mat-flat-button color="primary" routerLink="companies">COMPANY</a>
            <a  class="itemSpacer" mat-flat-button color="primary" routerLink="offers">JOB OFFERS</a>
        </span>
        <div>
            <div *ngIf="authService.isLoggedIn$ | async">
                <a  class="itemSpacer" mat-flat-button color="primary" routerLink="request">REGISTER A COMPANY</a>
                <!--<button class="itemSpacer" mat-flat-button color="primary" mat-button [matMenuTriggerFor]="menu">COMPANY</button>-->
                <a  class="itemSpacer" mat-flat-button color="primary" routerLink="adminRequests">REQUESTS</a>
                <a  class="itemSpacer" mat-flat-button color="primary" routerLink="requests">YOUR REQUESTS</a>
                <a  class="itemSpacer" mat-flat-button color="primary" routerLink="companies">COMPANY</a>
                <a  class="itemSpacer" mat-flat-button color="primary" routerLink="">REQUESTS</a>
                <mat-menu #menu="matMenu" >
                    <button mat-menu-item routerLink="addCompany">ADD COMPANY</button>
                    <button mat-menu-item routerLink="companies">MY COMPANIES</button>
                </mat-menu>
            </div>           
        </div>
        <div class="spacer"> </div>
        <div *ngIf="authService.isLoggedIn$ | async; else notlogged">
            <mat-icon>person</mat-icon>
            <a class="itemSpacer" mat-flat-button color="primary" routerLink="user/{{this.userId}}">{{this.username}}</a>
            <a class="itemSpacer" mat-flat-button color="primary" (click)="authService.logout()">Log out</a>
        </div>
        <div>
            <ng-template #notlogged>
                <a class="itemSpacer" mat-flat-button color="primary" routerLink="login">Log In</a>
                <a class="itemSpacer" mat-raised-button color="accent" routerLink="registration">Sign Up</a>
            </ng-template>
        </div>
    </mat-toolbar>
</div>