<br>
<h2 style="text-align: center">PENDING REQUESTS</h2>

<div style="margin-left: 10%; margin-right: 10%">
    <table style="text-align: center" id="requests">
      <caption>All pending requests</caption>
        <thead>
          <tr>
            <th style="text-align: center">User id</th>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">Website</th>
            <th style="text-align: center">Industry</th>
            <th style="text-align: center">Country</th>
            <th style="text-align: center">City</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">Approving</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let request of requests">
            <tr *ngIf="request.status == 'PENDING'">
              <td>{{ request.idUser }}</td>
              <td>{{ request.companyDTO.companyDetails.name }}</td>
              <td>{{ request.companyDTO.companyDetails.website }}</td>
              <td>{{ request.companyDTO.companyDetails.industry }}</td>
              <td>{{ request.companyDTO.companyDetails.country }}</td>
              <td>{{ request.companyDTO.companyDetails.city }}</td>
              <td>{{ request.status }}</td>
              <td>
                  <button style="margin-right: 20px" (click)="accept(request)" class="button">ACCEPT</button>
                  <button  (click)="decline(request)" class="button">DECLINE</button>
              </td>
            </tr>
          </ng-container>
          
        </tbody>
      </table>
</div>