#requests {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
  
#requests td, #requests th {
    border: none;
    padding: 8px;
}
  
#requests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: white;
}
.button {
    background-color: #E5E5E5;
    color: black;
    border: none;
    text-align: center;
    align-items: center;
    line-height: 22px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 300px;
    height: 40px;
  }
  .button:hover {
    background-color: #CDCDCD;
    color: white;
    cursor: pointer;
  }

  .example-radio-group {
    //display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: center;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  #wrapper {
    width: 50%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 30%;
    float:left; /* add this */
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.example-section {
  align-content: center;
  align-items: center;
  height: 60px;
}