<div class="container">
  <br><br>
    <mat-card *ngIf="this.flag" class="mat-card">Company waiting for admin approval.</mat-card>
      <h3 style="text-align: center">REGISTER A COMPANY</h3>
      <br>
      <form style="text-align: center;" [formGroup]="registerForm" (ngSubmit)="addCompany()">
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Company name</mat-label>
            <input matInput formControlName="name" name="name" [(ngModel)]="name" required>     
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" name="country" [(ngModel)]="country" required>   
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" name="city" [(ngModel)]="city" required>   
          </mat-form-field>
        </div>
        <div fxFlex="100%">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Foundation</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="foundation" name="foundation" [(ngModel)]="foundation" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Number of employees</mat-label>
            <input matInput formControlName="numberOfEmployees" name="numberOfEmployees" [(ngModel)]="numberOfEmployees" required>   
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Industry</mat-label>
            <input matInput formControlName="industry" name="industry" [(ngModel)]="industry" required>   
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Website</mat-label>
            <input matInput formControlName="website" name="website" [(ngModel)]="website" required>   
          </mat-form-field>
        </div>
       
          <br>
          <div fxFlex="100%">
            <button style="margin-left: 50px" mat-stroked-button color="primary" type="submit">Register</button>
        </div>
       
      </form>
</div>
  
  
      
  