<br>
<h2 style="text-align: center">{{company.companyDetails.name}}</h2>
<h4 style="text-align: center;">Rating: {{company.companyDetails.rating?.toFixed(2)}}</h4>
<br>
<div>
    <table id="requests">
        <thead>
          <tr>
            <th style="text-align: center">
                <button class="button" (click)="goHome()">O kompaniji</button>
            </th>
            <th style="text-align: center">
                <button class="button" (click)="goComments()">Komentari</button>
            </th>
            <th style="text-align: center">
                <button class="button" style="background-color: #228ab9; color: white" >Plata i benefiti</button>
            </th>
            <th style="text-align: center">
                <button class="button" (click)="goInterview()">Intervju</button>
            </th>
            <th style="text-align: center">
                <button class="button" (click)="goOffers()">Poslovi</button>
            </th>
          </tr>
        </thead>
      </table>
</div>
<div *ngIf="!(this.currentUser.role == 'COMPANY_OWNER' || this.currentUser.role == 'ADMIN')" style="text-align: center">
    <button class="button" style="background-color: #ca5d5d; color: white" *ngIf="!flagSalary" (click)="openSalaryDialog()">Dodaj platu</button>
</div>
<div *ngIf="flagSalary">
    <form style="text-align: center;">
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Position</mat-label>
            <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="position" required>     
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Neto salary</mat-label>
            <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="netoSalary" required>   
          </mat-form-field>
        </div>
        <button style="margin-right: 2%" mat-stroked-button (click)="closeSalaryDialog()">Cancel</button>
        <button mat-stroked-button (click)="addSalary()">Send</button>
    </form>
    
</div>
<br><br><br><br>
<div style="width: 80%; margin-left: 10%">
    <table id="salaries" style="width: 100%; text-align: center;">
        <tr>
            <th>Radna pozicija</th>
            <th>Neto prosek</th>
            <th></th>
            <th>Min</th>
            <th></th>
            <th>Max</th>
        </tr>
        <ng-container *ngFor="let salary of salaries">
            <tr >
                <td>{{salary.position}}</td>
                <td>{{salary.averageSalary}}</td>
                <td>(Broj plata: {{salary.salaryCount}})</td>
                <td>{{salary.min}}</td>
                <td style="width: 10px">
                    <tr *ngIf="!(salary.salaryCount==1)">{{salary.averageSalary}}</tr>
                    <tr><mat-slider *ngIf="!(salary.salaryCount==1)" min="{{salary.min}}" class="cdk-focused" max="{{salary.max}}" step="1" style="pointer-events: none;" value="{{salary.averageSalary}}"></mat-slider></tr>
                </td>
                <td>{{salary.max}}</td>
            </tr>
        </ng-container>
        
    </table>
</div>
