<br>
<h2 style="text-align: center">{{companyMod.companyDetails.name}}</h2>
<h4 style="text-align: center;">Rating: {{companyMod.companyDetails.rating?.toFixed(2)}}</h4>
<br>
<div>
    <table id="requests">
        <thead>
          <tr>
            <th style="text-align: center">
                <button class="button" (click)="goHome()">O kompaniji</button>
            </th>
            <th style="text-align: center">
                <button class="button"  (click)="goComments()">Komentari</button>
            </th>
            <th style="text-align: center">
                <button class="button" (click)="goSalaries()">Plata i benefiti</button>
            </th>
            <th style="text-align: center">
                <button class="button" (click)="goInterview()">Intervju</button>
            </th>
            <th style="text-align: center">
                <button class="button" style="background-color: #228ab9; color: white">Poslovi</button>
            </th>
          </tr>
        </thead>
      </table>
</div>

<div style="text-align: center;" >
    <button mat-button-raised class="button" style="background-color: #ca5d5d; color: white" *ngIf="!flagOffer" (click)="openOfferDialog()">Napravi pondu</button>
</div>
<br>
<div width="80%">
    <div *ngIf="flagOffer">
        <form style="text-align: center;">
            <div id="leftbox0"><p>&nbsp;</p></div>
            <div id="leftbox1">
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                        <mat-label>Title</mat-label>
                        <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="title" required>     
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                        <mat-label>Content</mat-label>
                        <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="content" required>  
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                        <mat-label>City</mat-label>
                        <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="city" required>     
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                        <mat-label>Industry</mat-label>
                        <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="industry" required>     
                    </mat-form-field>
                </div>
            </div>
            <div id="middlebox"><br></div>
            <div id="leftbox2">
                
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                        <mat-label>Field</mat-label>
                        <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="field" required>     
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                        <mat-label>Seniority</mat-label>
                        <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="seniority" required>     
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone:true}" [(ngModel)]="publishDate" required>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <br>
                <div fxFlex="100%">
                    <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="picker1" [ngModelOptions]="{standalone:true}" [(ngModel)]="deadlineDate" required>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div id="middlebox"><br></div>
    <div *ngIf="flagOffer">
        <form style="text-align: center;">
            <div id="rightbox1">
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                        <mat-label>Work type</mat-label>
                        <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="workType" required>      
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field style="width:100%" appearance="fill" class="form-field">
                    <mat-label>Requirements</mat-label>
                    <input matInput [ngModelOptions]="{standalone:true}" [(ngModel)]="requirement" required>     
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <button mat-stroked-button (click)="addRequirement()">Attach</button>
                </div>
                <div fxFlex="100%">
                    <br><br>
                    <button style="width:100px" mat-stroked-button (click)="cancelOffer()">Cancel</button>
                    <button style="margin-left: 20px; width:100px" mat-stroked-button (click)="createOffer()">Send</button>
                </div>
                <br>
                
            </div>
        </form>
        <div id="middlebox"><br></div>
        <div style="text-align: left;" id="rightbox2">
                <table style="width: 100%" style="text-align: left;" mat-table >
                    <tr *ngFor="let req of requirementsList">
                        <td><a mat-list-item > {{ req }} </a></td>
                        <td><button mat-button (click)="removeRequirement(req)">Detach</button></td>
                    </tr>
                </table>
        </div>
    </div>
    
</div>

<div *ngIf="flagOffer" style="text-align: center">
    <hr style="opacity:0; width: 100%" >
    <br>
    
</div>

<div style="margin-left: 5px; margin-right: 5px;">
    <br>
    <button mat-flat-button color="primary" class="itemSpacer" *ngIf="this.user?.role === 'COMPANY_OWNER'"> Create offer </button> 
    <mat-card *ngFor="let offer of offers" id> 
        <mat-card style="width: 900px;">
           <mat-card-header style="background-color: rgb(255,64,129); padding: 0;">
            <mat-card-title style="color: white"><br>{{offer.title}}<br></mat-card-title>
           </mat-card-header>
           <br>
            <mat-card-subtitle>{{offer.company}} &#9679; {{offer.city}}</mat-card-subtitle>
            <mat-card-subtitle>{{offer.seniority}}</mat-card-subtitle>
            <mat-chip-list>
                <mat-chip  *ngFor="let req of offer.requirements"> {{req}} </mat-chip>
            </mat-chip-list>
            <br>
            <mat-card-actions style="margin-left: 2px ;">
                <button mat-flat-button color="primary" (click)="viewOffer(offer.id)">View</button>
            </mat-card-actions>
            <mat-card-subtitle> Deadline: {{offer.deadlineDate}}</mat-card-subtitle>              
        </mat-card>
    </mat-card>
</div>
