<br>
<h2 style="text-align: center" >YOUR COMPANIES</h2>

<div style="margin-left: 25%; margin-right: 25%">
    <table style="text-align: center" id="requests">
        <thead>
          <tr>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">City</th>
            <th style="text-align: center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{ company.companyDetails.name}}</td>
            <td>{{ company.companyDetails.city }}</td>
            <td>
                <button routerLink="{{company.id}}" class="button">EDIT</button>
                <button style="margin-left: 10%" (click)="companyDetails(company.id)" class="button">VIEW</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>